{% extends "base.html" %}

{% block title %}Гид по Кубе{% endblock %}

{% block content %}
<h1 class="text-center my-4">Гид по Кубе</h1>
<div class="container mt-4">
    <div class="row g-4">

        {% set articles = [
            (1, "Деньги на Кубе", "money.jpg", "Официальная валюта: Кубинский песо (CUP) является главной валютой."),
            (2, "Погода на Кубе", "weather.jpg", "Куба известна своим теплым климатом, идеальным для пляжного отдыха в любое время года."),
            (3, "Природа на Кубе", "nature.jpg", "Природа Кубы для туристов 🌴. Комары и хехены (пляжные мошки) активны в основном летом."),
            (4, "Сезоны фруктов на Кубе", "Frut.jpg", "Январь: ананасы, апельсины, бананы, грейпфрут, мандарины, папайя и другие."),
            (5, "Полезные контакты", "contacts.jpg", "Посольство России в Гаване: Телефоны (+537) 204-10-85, 204-26-28."),
            (6, "Что взять с собой", "travel.jpg", "Подготовка к поездке на Кубу требует внимательного выбора вещей."),
            (7, "Кубинская таможня", "Tamozh.jpg", "Таможня. Ограничения и запреты."),
            (8, "Авиакомпании", "avia.jpg", "Сравнение авиаперелетов на Кубу: Нордвинд и Россия 🛫 Услуги на борту.")
        ] %}

        {% for id, title, image, description in articles %}
        <div class="col-md-3">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='images/' ~ image) }}" class="card-img-top" alt="{{ title }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ title }}</h5>
                    <p class="card-text">{{ description }}</p>
                    <a href="{{ url_for('article', article_id=id) }}" class="btn btn-primary mt-auto">Прочитать</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
